/* 1. O Efeito de Vidro (Blur) */
/* A cor de fundo já é tratada pelo MudPaper lá no HTML */
::deep .glass-effect {
    backdrop-filter: blur(12px);
    /* No modo escuro, damos uma leve transparência para ver o gradiente atrás */
}

/* Ajuste Fino para Dark Mode (Opcional: Deixar o card levemente transparente) */
::deep .mud-theme-dark .glass-effect {
    background-color: rgba(21, 25, 37, 0.7) !important; /* Só no dark ele é translúcido */
    border: 1px solid rgba(255, 255, 255, 0.05);
}


/* 2. Inputs Customizados (Para bater com seu design HTML original) */

/* MODO DARK: Input Azul Escuro */
::deep .mud-theme-dark .custom-input-bg .mud-input-control-input-container {
    background-color: #1F2436 !important;
}

/* MODO LIGHT: Input Cinza Claro */
::deep .mud-theme-light .custom-input-bg .mud-input-control-input-container {
    background-color: #F1F5F9 !important;
}

/* Remove a borda padrão para ficar clean em ambos */
::deep .custom-input-bg .mud-input-outlined-border {
    border-color: transparent !important;
}
